{% extends 'admin/admin_base.html.twig' %}

{% block title %}Импортных данных{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1 ">Форма импорта данных</span>
    </nav>
    <br>
    <form enctype="multipart/form-data" action="{{ path('admin_import_save') }}" method="post">
        <div class="form-group">
            <a href="{{ path('admin_import_get_file') }}">Скачать {{ filename }}</a> {{ lastUpdateFile }}
        </div>
        <div class="form-group">
            <label for="fileImport">Файл с квартирами</label>
            <input type="file" class="form-control-file" id="fileImport" name="fileImport">
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Загрузить</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    <script>new app.ApartmentCreate()</script>
{% endblock %}