// Colors
$base-color: #000000;
$accent-color: #3aa652;
$accent-color-2: #007842;
$primary-color: #48466D;
$secondary-color: #efebf0;
$secondary-color-2: #d3ced4;

$gray-25: #252525;
$gray-169: #a9a9a9;
$gray-189: #bdbdbd;
$gray-239: #efefef;
$gray-245: #f5f5f5;

$brown-color: #4c4136;

$success-color: #11fd6d;
$info-color: #b9dfff;
$warning-color: #ffeb3b;
$danger-color: #fd0d4d;

$white-color: #ffffff;
$black-color: #000000;
$light-color: #e4e4e4;
$muted-color: #7a7a7a;
$link-color: $accent-color;


// Fonts
$font-size: 16px;
$primary-font: "Noah", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary-font: inherit;

$duration: 0.25s;
$border-radius: 2px;


// Grid
$grid-columns: 12;
$gutter: 20px;

$vh-height-bp: 700px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$height-header-mobile: 86px;
$height-header-desktop: 110px;
$height-header-desktop--sticky: 80px;
