{% extends 'base.html.twig' %}

{% block title %}Выбрать квартиру по характеристикам / Гринвуд{% endblock %}

{% block body %}
    <main class="main">
        <article class="common-page">
            <header class="common-page__header container">
                <h1 class="common-page__title common-title">Выбрать квартиру по характеристикам</h1>
            </header>
            <div class="common-page__action-panel page-action-panel">
                <div class="page-action-panel__container container">
                    <div class="page-action-panel__left-column">
                        <div class="breadcrumbs">
                          <ul class="breadcrumbs__list">
                            <li class="breadcrumbs__item">
                              <a class="breadcrumbs__link" href="https://greenwoodclub.ru/">
                                <svg class="breadcrumbs__link-icon" width="16" height="16">
                                  <use xlink:href="{{ asset('build/images/symbols.svg#home')}}"></use>
                                </svg>
                                <span class="breadcrumbs__link-text visually-hidden">Главная</span>
                              </a>
                            </li>
                          </ul>
                        </div>

                        <!-- <a class="back-link button no-print" href="https://greenwoodclub.ru/">
                            <svg class="back-link__icon button__icon button__icon--left" width="16" height="16">
                                <use xlink:href="{{ asset('build/images/symbols.svg#left-arrow')}}"></use>
                            </svg>
                            Назад
                        </a> -->
                    </div>
                    <div class="page-action-panel__right-column">
                        <div class="flats-result-dashboard">
                            <div class="flats-result-dashboard__view view-mode">
                                <form class="view-mode-form">
                                    <div class="view-mode-buttons">
                                        <input type="radio" name="view" id="field-view-card" value="card">
                                        <label for="field-view-card" aria-label="Показать в виде карточек">
                                            <svg class="view-mode-buttons__icon" width="16" height="16">
                                                <use xlink:href="{{ asset('build/images/symbols.svg#baseline-view_module-24px')}}"></use>
                                            </svg>
                                        </label>
                                        <input type="radio" name="view" id="field-view-list" value="list">
                                        <label for="field-view-list" aria-label="Показать в виде списка">
                                            <svg class="view-mode-buttons__icon" width="16" height="16">
                                                <use xlink:href="{{ asset('build/images/symbols.svg#baseline-view_stream-24px')}}"></use>
                                            </svg>
                                        </label>
                                    </div>
                                </form>
                            </div>

                            <div class="flats-result-dashboard__sort nav-sort">
                                <form class="nav-sort__form">
                                    <div class="nav-sort__select select">
                                        <select name="sort-by">
                                            <option value="default" selected>По умолчанию</option>
                                            <option value="rooms">Кол-во комнат</option>
                                            <option value="floor">Этаж</option>
                                            <option value="area">Площадь</option>
                                            <option value="price">Стоимость</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="common-page__body common-page__body--has-sidebar container picking">
                <div class="common-page__sidebar">
                    <div class="flat-filters" data-sticky-target>
                        <form class="flat-filters__form" action="" method="get">
                            <!-- <div class="flat-filters__item flat-filter">
                              <div class="flat-filter__label">Тип дома</div>
                              <div class="flat-filter__control">
                                <div class="flat-filter__select select">
                                  <select name="type">
                                    <option value="all" selected>Все типы домов</option>
                                    <option value="3-1">3.1</option>
                                    <option value="3-2">3.2</option>
                                    <option value="4-3">4.3</option>
                                    <option value="4-4">4.4</option>
                                    <option value="5">5</option>
                                  </select>
                                </div>
                              </div>
                            </div> -->
                            <div class="flat-filters__item flat-filter">
                                <div class="flat-filter__label">Тип дома</div>
                                <div class="flat-filter__control">
                                    <!-- .checkboxes-select--open -->
                                    <div class="checkboxes-select" data-target="checkboxes-select" data-placeholder="Выберите тип">
                                        <button class="checkboxes-select__toggle input" type="button">
                                            <span class="checkboxes-select__value">Все типы домов</span>
                                        </button>
                                        <div class="checkboxes-select__dropdown">
                                            <ul class="checkboxes-select__list">
                                                <li class="checkboxes-select__list-item">
                                                    <label class="checkboxes-select__box">
                                                        <input class="checkboxes-select__box-input visually-hidden" type="checkbox" name="house_type_id[]" value="all">
                                                        <span class="checkboxes-select__box-indicator"></span>
                                                        <span class="checkboxes-select__box-value">Все типы домов</span>
                                                    </label>
                                                </li>
                                                {% for house in houses %}
                                                    <li class="checkboxes-select__list-item">
                                                        <label class="checkboxes-select__box">
                                                            <input class="checkboxes-select__box-input visually-hidden" type="checkbox" name="house_type_id[]" value="{{ house.getId }}">
                                                            <span class="checkboxes-select__box-indicator"></span>
                                                            <span class="checkboxes-select__box-value">{{ house.getType }}</span>
                                                        </label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flat-filters__item flat-filter">
                                <div class="flat-filter__label">Этаж</div>
                                <div class="flat-filter__control">
                                    <!-- .checkboxes-select--open -->
                                    <div class="checkboxes-select" data-target="checkboxes-select" data-placeholder="Выберите этаж">
                                        <button class="checkboxes-select__toggle input" type="button">
                                            <span class="checkboxes-select__value"></span>
                                        </button>
                                        <div class="checkboxes-select__dropdown">
                                            <ul class="checkboxes-select__list">
                                                <li class="checkboxes-select__list-item">
                                                    <label class="checkboxes-select__box">
                                                        <input class="checkboxes-select__box-input visually-hidden" type="checkbox" name="floors[]" value="all">
                                                        <span class="checkboxes-select__box-indicator"></span>
                                                        <span class="checkboxes-select__box-value">Все этажи</span>
                                                    </label>
                                                </li>
                                                {% for i in 1..maxFloor %}
                                                    <li class="checkboxes-select__list-item">
                                                        <label class="checkboxes-select__box">
                                                            <input class="checkboxes-select__box-input visually-hidden" type="checkbox" name="floors[]" value="{{ i }}">
                                                            <span class="checkboxes-select__box-indicator"></span>
                                                            <span class="checkboxes-select__box-value">{{ i }}</span>
                                                        </label>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </div>
                                    </div>
                                    <!-- <div class="flat-filter__select select">
                                      <select name="floor">
                                        <option value="all" selected>Все этажи</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                      </select>
                                    </div> -->
                                </div>
                            </div>
                            <div class="flat-filters__item flat-filter">
                                <div class="flat-filter__label">Количество комнат</div>
                                <div class="flat-filter__control">
                                    <div class="flat-filter-checkboxes">
                                        <label class="flat-filter-checkboxes__item filter-checkbox">
                                            <input class="filter-checkbox__input" type="checkbox" name="rooms[]" value="1">
                                            <span class="filter-checkbox__indicator" title="Однакомнатная квартира">1</span>
                                        </label>
                                        <label class="flat-filter-checkboxes__item filter-checkbox">
                                            <input class="filter-checkbox__input" type="checkbox" name="rooms[]" value="2">
                                            <span class="filter-checkbox__indicator" title="Двухкомнатная квартира">2</span>
                                        </label>
                                        <label class="flat-filter-checkboxes__item filter-checkbox">
                                            <input class="filter-checkbox__input" type="checkbox" name="rooms[]" value="3">
                                            <span class="filter-checkbox__indicator" title="Трехкомнатная квартира">3</span>
                                        </label>
                                        <label class="flat-filter-checkboxes__item filter-checkbox">
                                            <input class="filter-checkbox__input" type="checkbox" name="rooms[]" value="4">
                                            <span class="filter-checkbox__indicator" title="Четырехкомнатная квартира">4</span>
                                        </label>
                                        <label class="flat-filter-checkboxes__item filter-checkbox">
                                            <input class="filter-checkbox__input" type="checkbox" name="rooms[]" value="0">
                                            <span class="filter-checkbox__indicator" title="Пентхаус">П</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="flat-filters__item flat-filter">
                                <div class="flat-filter__label">Стоимость, руб.</div>
                                <div class="flat-filter__control flat-filter__control--range filter-range">
                                    <div class="filter-range-slider" data-type-slider="price" data-range="[{{ minTotalCost }}, {{ maxTotalCost }}]" data-step="10000"></div>
                                    <div class="filter-range-values">
                                        <div class="filter-range-values__from">
                                            от <span data-range-from>{{ minTotalCost }}</span>
                                        </div>
                                        <div class="filter-range-values__to">
                                            до <span data-range-to>{{ maxTotalCost }}</span>
                                        </div>
                                        <input type="hidden" name="price_from" value="{{ minTotalCost }}">
                                        <input type="hidden" name="price_to" value="{{ maxTotalCost }}">
                                    </div>
                                </div>
                            </div> -->
                            <div class="flat-filters__item flat-filter">
                                <div class="flat-filter__label">Площадь, м²</div>
                                <div class="flat-filter__control flat-filter__control--range filter-range">
                                    <div class="filter-range-slider" data-type-slider="area" data-range="[{{ minArea }}, {{ maxArea }}]" data-step="1"></div>
                                    <div class="filter-range-values">
                                        <div class="filter-range-values__from">
                                            от <span data-range-from>{{ minArea }}</span>
                                        </div>
                                        <div class="filter-range-values__to">
                                            до <span data-range-to>{{ maxArea }}</span>
                                        </div>
                                        <input type="hidden" name="area_from" value="{{ minArea }}">
                                        <input type="hidden" name="area_to" value="{{ maxArea }}">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="flat-filters__item flat-filter">
                              <div class="flat-filter__label">Площадь м²</div>
                              <div class="flat-filter__controls">
                                <div class="flat-filter__control">
                                  <span class="flat-filter__placeholder">от</span>
                                  <input class="flat-filter__input input" type="number" name="area_from">
                                </div>
                                <div class="flat-filter__controls-divider"></div>
                                <div class="flat-filter__control">
                                  <span class="flat-filter__placeholder">до</span>
                                  <input class="flat-filter__input input" type="number" name="area_to">
                                </div>
                              </div>
                            </div> -->
                        </form>
                    </div>
                </div>

                <div class="common-page__content">
                    <div class="flats-result">
                        <!--
                          flats-cards--display-card
                          flats-cards--display-list
                        -->
                        <ul class="flats-result__list flats-cards flats-cards--display-list"></ul>
                    </div>
                </div>
            </div>
        </article>
    </main>

    <script id="flatsResultCardTemplate" type="text/x-handlebars-template">
        <li class="flats-result__item flats-cards__item flat-card" data-dlat-id="1">
            <a class="flat-card__wraplink" href="flat-plan-page.html">
                <div class="flat-card__picture-holder">
                    <div class="flat-card__picture">
                        <img src="images/plans/1-1.png" alt="">
                    </div>
                </div>
                <div class="flat-card__content">
                    <div class="flat-card__info-block">
              <span class="flat-card__type-of-building">
                Тип дома
              <span class="flat-card__type-of-building-value" data-flat-type-value>type</span>
              </span>
                        <div class="flat-card__title">
                            <span class="flat-card__rooms" data-flat-room-value>rooms</span>
                            <span class="flat-card__area"><span class="flat-card__area-value" data-flat-area-value>area</span> м²</span>
                        </div>
                        <div class="flat-card__floor">
                            <span class="flat-card__floor-value" data-flat-floor-value>floor</span> этаж
                            <button class="flat-card__floor-to-look button" type="button" data-src="images/plans/floor.png" data-fancybox>Смотреть на плане</button>
                        </div>
                    </div>
                    <div class="flat-card__price-block">
                        <b class="flat-card__price-for-flat"><span class="flat-card__price-for-flat-value" data-flat-price-value>price</span> руб.</b>
                        <span class="flat-card__price-for-square-meter">или <span class="flat-card__price-for-square-meter-value" data-flat-price-for-square-meter-value>price_m</span> за м²</span>
                    </div>
                </div>
            </a>
            <div class="flat-card__stick">
          <span class="flat-card__reserved" aria-label="Квартира забронирована" title="Квартира забронирована">
            <svg class="flat-card__reserved-icon flat-card__icon" width="16" height="16" viewBox="0 0 402 402"><path d="M357.4 190.7c-5.3-5.3-11.7-8-19.4-8h-9V128c0-35-12.6-65-37.7-90.2A123 123 0 0 0 201 0a123 123 0 0 0-90.2 37.7A123 123 0 0 0 73 127.9v54.8h-9c-7.7 0-14.1 2.7-19.5 8-5.3 5.3-8 11.8-8 19.4v164.5c0 7.6 2.7 14 8 19.4 5.4 5.3 11.8 8 19.5 8h274c7.7 0 14.1-2.7 19.5-8 5.3-5.3 8-11.8 8-19.4V210c0-7.6-2.7-14-8-19.4zm-83.3-8H127.9V128c0-20.2 7.1-37.4 21.4-51.7A70.4 70.4 0 0 1 201 54.8c20.2 0 37.4 7.2 51.7 21.4A70.4 70.4 0 0 1 274 128v54.8z" /></svg>
          </span>
            </div>
        </li>
    </script>
{% endblock %}
