{% extends 'base.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block body %}
    <main class="main">
        <br/>
        <br/>
        <br/>
        <h2>Главная страница</h2>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </main>
{% endblock %}
