<template>
    <div>
        <div class="form-row ">
            <div class="form-group col-md-1">
                <label for="houseTypes">Тип дома</label>
                <select id="houseTypes" class="form-control" v-model="selectHouseTypeId">
                    <option v-bind:value="defaultHouseTypes.id">
                        {{defaultHouseTypes.type}}
                    </option>
                    <option v-for="houseType in options.houseTypes" v-bind:value="houseType.id">
                        {{houseType.type}}
                    </option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="floors">Этаж</label>
                <select id="floors" class="form-control" v-model="selectedFloor">
                    <option value="0">Все этажи</option>
                    <option v-for="n in maxQuantityFloor">{{n}}</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label for="inputState4">Тип квартиры</label>
                <select id="inputState4" class="form-control" v-model="selectedType">
                    <option value="null">Все типы</option>
                    <option value="roomed">Многоквартирная</option>
                    <option value="penthouse">Пентхаус</option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <!--                <span>Количество комнат</span>-->
                <!--                <div class="text-center">-->
                <!--                    <span class="btn btn-outline-secondary">1</span>-->
                <!--                    <span class="btn btn-outline-secondary">2</span>-->
                <!--                    <span class="btn btn-outline-secondary">3</span>-->
                <!--                    <span class="btn btn-outline-secondary">4</span>-->
                <!--                </div>-->
            </div>

            <div class="form-group col-md-3"></div>
            <div class="form-group col-md-2">
                <a class="btn btn-outline-info form-control btn-block" href="/admin/apartment/create">Добавить
                    квартиру</a>
                <button type="button" class="btn btn-outline-secondary form-control btn-block" v-on:click="filterData">
                    Фильтровать
                </button>
            </div>
        </div>
        <div>
            <div v-if="isLoadingApartments" :key="isLoadingApartments">
                <div class="text-center">
                    <div class="spinner-border text-secondary" role="status" style="width: 4rem; height: 4rem;">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            <table v-else :key="isLoadingApartments" class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Заголовок</th>
                    <th scope="col">Тип дома</th>
                    <th scope="col">Этаж</th>
                    <th scope="col">Цена за кв. метр</th>
                    <th scope="col">Полная стоимость</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="apartment in apartments">
                    <th scope="row">{{apartment.id}}</th>
                    <td>{{apartment.title}}</td>
                    <td>{{apartment.house_type}}</td>
                    <td>{{apartment.floor}}</td>
                    <td>{{apartment.costMeter}}</td>
                    <td>{{apartment.totalCost}}</td>
                    <td><a v-bind:href="getPathEditApartment(apartment)">Изменить</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<script>
    import {Apartment} from '../../../../api/Apartment';
    import {House} from "../../../../api/House";
    import {PathGenerator} from "../../../../api/PathGenerator";

    export default {
        name: "apartmentList",
        data: () => ({
            apartments: [],
            isLoadingApartments: true,
            selectHouseTypeId: 0,
            maxQuantityFloor: 1,
            selectHouseTypes: {},
            selectedType: null,
            defaultHouseTypes: {
                id: 0,
                type: 'Все дома',
                quantityFloor: 0
            },
            selectedFloor: 0,
            options: {
                houseTypes: [],
            }
        }),
        watch: {
            selectHouseTypeId(id) {
                if (typeof this.options.houseTypes[id] !== 'undefined') {
                    this.maxQuantityFloor = this.options.houseTypes[id].quantityFloor;
                } else {
                    this.maxQuantityFloor = this.defaultHouseTypes.quantityFloor;
                }
            }
        },
        created() {
            House.getAllHouses(result => {
                this.options.houseTypes = result.data;
            });
            Apartment.getApartments({}, result => {
                this.apartments = result.data;
                this.isLoadingApartments = false;
            });
        },
        methods:
            {
                filterData() {
                    Apartment.getApartments({
                        house_type_id: this.selectHouseTypeId,
                        floor: this.selectedFloor,
                        type: this.selectedType,
                    }, result => {
                        this.apartments = result.data;
                    });
                },
                getPathEditApartment(apartment) {
                    return PathGenerator.getPathEditApartment(apartment.id);
                }
            }
    }
</script>