<template>
    <div>
        <nav class="nav nav-pills nav-justified navbar-light bg-light">
            <a class="nav-link" href="#" v-bind:class="{ active: showTabsClass.isActiveMainInfo }"
               v-on:click="showTab('mainInfo')">Общая информация</a>
            <a class="nav-link" href="#" v-bind:class="{ active: showTabsClass.isActiveSimilarApartments }"
               v-on:click="showTab('similarApartments')">Похожие квартиры</a>
            <a class="nav-link" href="#" v-bind:class="{ active: showTabsClass.isActiveApartmentLayouts }"
               v-on:click="showTab('apartmentLayouts')">Изображения планировки</a>
        </nav>
        <br>
        <form method="post" v-bind:action="getPathSaveApartment()" enctype="multipart/form-data">
            <div id="mainInfo" v-show="showTabsClass.isActiveMainInfo">
                <main-info :apartmentId="id" :statuses="statuses" :types="types" />
            </div>
            <div id="similarApartments" v-show="showTabsClass.isActiveSimilarApartments">
                <similar-apartments :apartmentId="id" />
            </div>
            <div id="apartmentLayouts" v-show="showTabsClass.isActiveApartmentLayouts">
                <apartment-layouts :apartmentId="id" :typeLayouts="layouts" />
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a href="#" class="btn btn-danger">Отменить</a>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {PathGenerator} from "../../../../api/PathGenerator";
    import {House} from "../../../../api/House";
    import {Apartment} from "../../../../api/Apartment";
    import SimilarApartments from "./Form/SimilarApartments";
    import ApartmentLayouts from "./Form/ApartmentLayouts";
    import MainInfo from "./Form/MainInfo";

    export default {
        name: "apartmentEditComponent",
        props: {
            types: {
                type: Object
            },
            statuses: {
                type: Object
            },
            layouts: {
                type: Object
            },
            id: { //mainInfo
                type: Number
            }
        },
        data: () => ({
            apartmentData: {},
            selectedHouseId: '',
            houses: [],
            maxQuantityFloor: 1,
            selectedType: 'roomed',
            isPenthouse: false,
            costMeter: 0.00,
            area: 0.00,
            estimatedTotalCost: 0.00,
            selectedRoom: 1,
            titleApartment: '',
            listRoomString: {
                0: 'Пентхаус',
                1: 'Однокомнатная',
                2: 'Двухкомнатная',
                3: 'Трехкомнатная',
                4: 'Четырёхкомнатная',
            },
            notSelectedSimilarApartments: [],
            selectedSimilarApartments: [],
            selectApartmentLayoutTypeId: 1,
            similarApartments: {},
            showTabsClass: {
                isActiveMainInfo: true,
                isActiveSimilarApartments: false,
                isActiveApartmentLayouts: false
            },
            apartmentLayouts: []
        }),
        components: {
            SimilarApartments, ApartmentLayouts, MainInfo
        },
        created() {
            House.getAllHouses(result => { //mainInfo
                this.houses = result.data;
            });
            Apartment.getApartments({}, result => {
                this.notSelectedSimilarApartments = result.data;
            });
            Apartment.getDataApartment(this.id, result => {
                this.apartmentData = result;
            });
        },
        computed: {
            showMainInfo: () => {
                return this.showTabsClass.isActiveMainInfo;
            },
            showSimilarApartmets: () => {
                return this.showTabsClass.isActiveSimilarApartments;
            },
            showApartmentLayout: () => {
                return this.showTabsClass.isActiveApartmentLayouts;
            }
        },
        watch: {
            selectedHouseId(value) {
                let house = this.houses[value];
                this.maxQuantityFloor = house.quantityFloor;
            },
            selectedType(value) {
                if (value === 'penthouse') {
                    this.selectedRoom = 0;
                } else {
                    this.selectedRoom = 1;
                }
                this.isPenthouse = (value === 'penthouse');
            },
            costMeter(value) {
                this.estimatedTotalCost = value * this.area;
            },
            selectedRoom() {
                this.createTitle()
            },
            area() {
                this.createTitle()
            }
        },
        methods: {
            getPathSaveApartment() {
                return PathGenerator.getPathSaveApartment()
            },
            createTitle() {
                let listRoomString = this.listRoomString[this.selectedRoom];
                this.apartmentData.title = `${listRoomString} ${this.area} м2`;
            },
            showTab(tab) {
                this.showTabsClass.isActiveMainInfo = false;
                this.showTabsClass.isActiveSimilarApartments = false;
                this.showTabsClass.isActiveApartmentLayouts = false;
                if (tab === 'mainInfo') {
                    this.showTabsClass.isActiveMainInfo = true;
                } else if (tab === 'similarApartments') {
                    this.showTabsClass.isActiveSimilarApartments = true;
                } else if (tab === 'apartmentLayouts') {
                    this.showTabsClass.isActiveApartmentLayouts = true;
                }
            },
        }
    }
</script>
