<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ asset('build/images/favicon.png') }}" type="image/png">
    <title>{% block title %}Административная часть{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/admin.css') }}">
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('admin_index') }}">Панель управления квартирами</a>
        <form class="form-inline">
            <a class="btn btn-outline-warning my-2 my-sm-0" href="#">Logout</a>
        </form>
    </nav>
</header>
<br>
<main role="main" class="flex-shrink-0">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a href="{{ path('admin_index') }}" class="list-group-item list-group-item-action">Квартиры</a>
                    <a href="{{ path('admin_house_list') }}" class="list-group-item list-group-item-action">Дома</a>
                    <a href="{{ path('admin_import') }}" class="list-group-item list-group-item-action">Импорт данных</a>
                </div>
            </div>
            <div class="col-9">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</main>
{{ encore_entry_script_tags('admin') }}
{% block javascripts %}
{% endblock %}
</body>
</html>
