{% extends 'admin/admin_base.html.twig' %}

{% block title %}Список квартир{% endblock %}

{% block body %}
    <div id="apartmentListComponent">
    </div>
{% endblock %}

{% block javascripts %}
    <script>new app.ApartmentList()</script>
{% endblock %}
