{% extends 'admin/admin_base.html.twig' %}

{% block title %}Административная панель{% endblock %}

{% block body %}
    <div id="apartmentListComponent">
    </div>
{% endblock %}

{% block javascripts %}
<script>new app.Admin()</script>
{% endblock %}
