{% include 'blocks/splash_screen.html.twig' %}
<header class="main-header">
    <div class="main-header__inner container">
        <div class="main-header__logo">
            <a href="https://greenwoodclub.ru/">
                <img class="main-header__logo-image" src="{{ asset('build/images/logo.svg') }}" width="100" alt="Логотип Гринвуд">
            </a>
        </div>
        <button class="main-header__toggle out-cover-toggle" type="button" aria-label="Показать меню">
            <span class="out-cover-toggle__line"></span>
        </button>
        <!-- <a class="main-header__action-button header-action-button" href="select-flats-page.html">Выбрать квартиру</a> -->
        <nav class="main-header__nav main-nav">
            <ul class="main-nav__list">
                <li><a href="/filter">Выбрать планировку</a></li>
                <li><a href="https://greenwoodclub.ru/project/">О проекте</a></li>
                <li><a href="https://greenwoodclub.ru/mortgage/">Ипотека</a></li>
                <!-- <li><a href="documents-page.html">Документация</a></li> -->
                <li><a href="https://greenwoodclub.ru/novosti/">Новости</a></li>
                <li><a href="https://greenwoodclub.ru/hod-stroitelstva/">Ход строительства</a></li>
                <li><a href="https://greenwoodclub.ru/kontakty/">Контакты</a></li>
            </ul>
        </nav>
        <!-- <p class="main-header__contacts">
            <a class="main-header__phone" href="tel:+7(4832)606-505">
                +7 (4832) <span>606-505</span>
            </a>
        </p> -->
        <p class="main-header__contacts">
        <a class="main-header__phone" href="tel:+74832323941" 
        onclick="
        yaCounter39993435.reachGoal('CLICK_NOMER');
        gtag('event', 'send', {'event_category': 'header', 'event_action': 'CLICK_NOMER' });">
          +7 (4832) <span>323-941</span>
        </a>
        <span class='main-header__button'>Заказать бесплатный звонок</span>
      </p>
    </div>
</header>
