<footer class="main-footer">
    <div class="main-footer__top">
        <div class="main-footer__top-inner container">
            <p class="main-footer__note">*Рассчитана максимальная выгода на двухкомнатную квартиру по адресу: Степная, д. 18, кв. 2.</p>
            <p class="main-footer__note">**Сданы/введены в эксплуатацию поз. 3.1,3.2,4.3.,4.4 комплексного освоения.</p>
            <p class="main-footer__note main-footer__disclamer">Информация, размещенная на сайте, носит исключительно информационно-рекламный характер, и не является офертой или публичной офертой в соответствии со статьей 435 и пунктом 2 статьи 437 Гражданского кодекса Российской Федерации</p>
        </div>
    </div>
    <div class="main-footer__bottom">
        <div class="main-footer__bottom-inner container">
            <div class="main-footer__bottom-left">
                <p class="main-footer__copy">© 2016–2018 Касабланка</p>
                <p class="main-footer__docs"><a href="https://greenwoodclub.ru/proektnaya-dokumentatsiya/" style="color: #fff;font-size: 18px;text-decoration: underline;">Документация</a></p>
            </div>
            <div class="main-footer__bottom-right">
                <p class="main-footer__dev">Сделано с <span>❤</span> в <a href="">АМК "Промо-Маркетинг"</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- {% include 'blocks/promo_popup.html.twig' %} -->
{% include 'blocks/go_to_favorite_page.html.twig' %}
