<div class="out-cover">
    <div class="out-cover__inner">
        <div class="out-cover__body">
            <div class="out-cover__mobile-nav mobile-nav">
                <ul class="mobile-nav__list">
                <li><a href="/filter">Выбрать планировку</a></li>
                <li><a href="https://greenwoodclub.ru/project/">О проекте</a></li>
                <li><a href="https://greenwoodclub.ru/mortgage/">Ипотека</a></li>
                <!-- <li><a href="documents-page.html">Документация</a></li> -->
                <li><a href="https://greenwoodclub.ru/novosti/">Новости</a></li>
                <li><a href="https://greenwoodclub.ru/hod-stroitelstva/">Ход строительства</a></li>
                <li><a href="https://greenwoodclub.ru/kontakty/">Контакты</a></li>
            </ul>
            </div>
        </div>
        <div class="out-cover__footer container">

        </div>
    </div>
</div>
