<div id="popup-request-cost" class="popup" hidden>
    <div class="popup__title">Запросить стоимость</div>
    <form class="form popup-form" id="popup-request-form" action="{{ path('apartment.send_request_cost') }}" method="POST">
        <div hidden>
            <input type="hidden" name="id" value="{{ apartment.id }}">
            <input type="hidden" name="title" value="{{ apartment.title }}">
            <input type="hidden" name="houseType" value="{{ apartment.house.type }}">
            <input type="hidden" name="floor" value="{{ apartment.floor }}">
            <input type="hidden" name="totalCost" value="{{ apartment.totalCost }}">
            <input type="hidden" name="costMeter" value="{{ apartment.costMeter }}">
            <input type="hidden" name="showInPreview" value="{{ apartment.showInPreview }}">
            <input type="hidden" name="type" value="{{ apartment.type }}">
            <input type="hidden" name="area" value="{{ apartment.area }}">
            <input type="hidden" name="rooms" value="{{ apartment.rooms }}">
            <input type="hidden" name="main_layout" value="{{ apartment.layouts.mainLayout }}">
            <input type="hidden" name="placingApartmentOnFloorPlanFile" value="{{ apartment.placingApartmentOnFloorPlanFile }}">
        </div>
        <label class="field">
            <span class="field__label">Имя</span>
            <div class="field__control">
                <input class="field__input input" type="text" name="request_cost_name" placeholder="Ваше имя" required>
            </div>
        </label>
        <label class="field">
            <span class="field__label">Телефон</span>
            <div class="field__control">
                <input class="field__input input" type="tel" name="request_cost_phone" placeholder="+7 (___) ___-__-__" required>
            </div>
        </label>
        <label class="field">
            <span class="field__label">Текст сообщения</span>
            <div class="field__control">
                <textarea class="field__input input" name="request_cost_message" rows="4" placeholder="Текст сообщения"></textarea>
            </div>
        </label>

        <div class="popup-form__submit-wrapper form-submit-wrapper">
            <button class="button form-submit" type="sumbit">Отправить</button>
        </div>
    </form>
</div>
