<div class="promo-popup popup" id="promo-popup" hidden>
    <div class="promo-popup__inner">
        <div class="promo-popup__picture">
            <img src="https://images.unsplash.com/photo-1541696432-82c6da8ce7bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fde969420cb3cea0ec5740cfbd521c93&auto=format&fit=crop&w=1350&q=80" alt="">
        </div>
        <div class="promo-popup__content">
            <div class="promo-popup__header">
                <h2 class="promo-popup__title common-title">Хочу 25% скидку</h2>
            </div>
            <div class="promo-popup__text">
                <p>Будь первым, чтобы узнать о наших спец. предложениях и получить 25% на перую покупку!</p>
            </div>
        </div>
    </div>
</div>
