<script src="{{ asset('build/js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('build/js/plugins.js') }}"></script>
<script src="{{ asset('build/js/modules.js') }}"></script>
<script src="{{ asset('build/js/script.js') }}"></script>