<style>
    .splash-screen {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100%;
        background-color: #ffffff;
        transition: 0.3s;
    }

    .splash-screen--hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .sk-folding-cube {
        margin: 20px auto;
        width: 82px;
        height: 82px;
        position: relative;
        transform: rotateZ(45deg);
    }

    .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        transform: scale(1.1);
    }
    .sk-folding-cube .sk-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #3aa652;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
    }
    .sk-folding-cube .sk-cube2 {
        transform: scale(1.1) rotateZ(90deg);
    }
    .sk-folding-cube .sk-cube3 {
        transform: scale(1.1) rotateZ(180deg);
    }
    .sk-folding-cube .sk-cube4 {
        transform: scale(1.1) rotateZ(270deg);
    }
    .sk-folding-cube .sk-cube2:before {
        animation-delay: 0.3s;
    }
    .sk-folding-cube .sk-cube3:before {
        animation-delay: 0.6s;
    }
    .sk-folding-cube .sk-cube4:before {
        animation-delay: 0.9s;
    }

    @keyframes sk-foldCubeAngle {
        0%, 10% {
            transform: perspective(140px) rotateX(-180deg);
            opacity: 0;
        } 25%, 75% {
              transform: perspective(140px) rotateX(0deg);
              opacity: 1;
          } 90%, 100% {
                transform: perspective(140px) rotateY(180deg);
                opacity: 0;
            }
    }
</style>

<div id="splash-screen" class="splash-screen splash-screen--hidden">
    <div class="splash-screen__item">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
</div>
