{% extends 'admin/admin_base.html.twig' %}

{% block title %}Форма добавление дома{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1 ">Форма добавления дома</span>
    </nav>
    <form method="POST" action="{{ path('admin_house_save') }}">
        <input type="hidden" name="id" value="{{ house.getId }}">
        <div class="form-group row">
            <label for="typeHouse" class="col-sm-2 col-form-label">Тип дома</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="type_house" id="typeHouse" placeholder="Тип дома"
                       value="{{ house.getType }}" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="quantityFloor" class="col-sm-2 col-form-label">Количество этажей в доме</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="quantity_floor" id="quantityFloor"
                       placeholder="Количество этажей в доме" value="{{ house.getQuantityFloor }}" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Добавить</button>
                <a href="{{ path('admin_house_list') }}" class="btn btn-secondary">Отменить</a>
                {% if house.getId %}
                    {% if house.getApartments|length > 0 %}
                        <span>Нельзя удалить дом </span>
                    {% else %}
                        <a href="{{ path('admin_house_delete', {'id' : house.getId}) }}" class="btn btn-danger">Удалить</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
