{% extends 'admin/admin_base.html.twig' %}

{% block title %}Список домов{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Список домов</span>

        <form class="form-inline">
            <a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('admin_house_create') }}">Добавить новый дом</a>
        </form>
    </nav>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Тип</th>
            <th scope="col">Количество этажей</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for house in houses %}
            <tr>
                <th scope="row">{{ house.getId }}</th>
                <td>{{ house.getType }}</td>
                <td>{{ house.getQuantityFloor }}</td>
                <td><a href="{{ path('admin_house_edit', {'id': house.getId}) }}">Edit</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}
