<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Шаблон письма</title>
</head>
<body>
<h1>Пользователь запросил стоимость квартиры</h1>
<h2>Данные пользователя:</h2>
<dl>
    <dt>Имя:</dt>
    <dd>{{ requestCostName }}</dd>
    <dt>Телефон:</dt>
    <dd>{{ requestCostPhone }}</dd>
    <dd>{{ requestCostMessage }}</dd>
</dl>

<h2>Параметры квартиры</h2>
<dl>
    <dt>Название:</dt>
    <dd>{{ apartment.title }}</dd>
    <dt>Тип дома:</dt>
    <dd>{{ apartment.house.type }}</dd>
    <dt>Этаж:</dt>
    <dd>{{ apartment.floor }}</dd>
    <dt>Стоимость:</dt>
    <dd>{{ apartment.totalCost }}</dd>
    <dt>Стоимость за 1 м²:</dt>
    <dd>{{ apartment.costMeter }}</dd>
    <dt>Тип квартиры:</dt>
    <dd>{{ apartment.type }}</dd>
    <dt>Площадь:</dt>
    <dd>{{ apartment.area }}</dd>
    <dt>Количество комнат:</dt>
    <dd>{{ apartment.rooms }}</dd>
</dl>
</body>
</html>
