<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}Гринвуд{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/style.css') }}">
</head>
<body class="page-flat-plan">

{% include 'blocks/main_header.html.twig' %}

{% block body %}{% endblock %}

{% include 'blocks/main_footer.html.twig' %}
{% include 'blocks/out_cover.html.twig' %}
{% include 'blocks/site_scripts.html.twig' %}
<script>
    (function(w,d,u){
        var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
        var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
    })(window,document,'https://cdn.bitrix24.ru/b6787439/crm/tag/call.tracker.js');
</script>
</body>
</html>
