<template>
    <div>
        <div class="form-inline">
            <div class="form-group mb-2">
                <label>Вид планировки</label>
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <select class="form-control" v-model="selectApartmentLayoutTypeId">
                    <option v-for="(layoutValue, layoutKey) in typeLayouts" v-bind:value="layoutKey">
                        {{layoutValue}}
                    </option>
                </select>
            </div>
            <a href="#" v-on:click="addLayout" class="btn btn-primary mb-2">Добавить</a>
        </div>
        <div>
            <table class="table table-striped">
                <tbody>
                <tr v-for="(apartmentLayoutValue, apartmentLayoutIndex) in apartmentLayouts">
                    <th scope="row">{{apartmentLayoutIndex +1 }}</th>
                    <td>{{apartmentLayoutValue.type_name}}</td>
                    <td>
                        <input type="hidden"
                               :name="'apartmentTypeLayouts[' + apartmentLayoutIndex + '][typeId]'"
                               v-bind:value="apartmentLayoutValue.type_id">
                        <input type="hidden"
                               :name="'apartmentTypeLayouts[' + apartmentLayoutIndex + '][path]'"
                               v-bind:value="apartmentLayoutValue.path">
                        <input type="file" class="form-control-file" v-if="!apartmentLayoutValue.path_to_file"
                               :name="'apartmentTypeLayouts[' + apartmentLayoutIndex + '][pathToFile]'">
                    </td>
                    <td>
                        <span v-if="apartmentLayoutValue.path_to_file"><a v-bind:href="apartmentLayoutValue.path_to_file" target="_blank"><img
                                v-bind:src="apartmentLayoutValue.path_to_file" width="50px"
                                height="50px"></a></span>
                    </td>
                    <td>
                        <a href="#" class="btn btn-info"
                           v-on:click="delLayout(apartmentLayoutValue)">-</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import {ApartmentLayout} from "../../../../../api/ApartmentLayout";

    export default {
        name: "apartmentLayouts",
        props: {
            apartmentId: {
                type: Number
            },
            typeLayouts: {
                type: Object
            }
        },
        data: () => ({
            selectApartmentLayoutTypeId: 1,
            apartmentLayouts: [],
        }),
        created() {
            ApartmentLayout.getLayout(this.apartmentId, (result) => {
                this.apartmentLayouts = result;
            });
        },
        methods: {
            addLayout() {
                let layout = {
                    'type_id': this.selectApartmentLayoutTypeId,
                    'type_name': this.typeLayouts[this.selectApartmentLayoutTypeId],
                    'path_to_file': '',
                    'path': '',
                };
                this.apartmentLayouts.push(layout);
            },
            delLayout(layout) {
                this.apartmentLayouts.splice(this.apartmentLayouts.indexOf(layout), 1);
            }
        }
    }
</script>

<style scoped>

</style>