<template>
    <div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="numberApartment">Номер квартиры</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" v-bind:min="apartmentId" v-bind:value="apartmentId"
                       name="numberApartment" id="numberApartment">
            </div>
            <div class="col-sm-5">
                <span>Можете установить значение с {{apartmentId}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="typeHouse" class="col-sm-2 col-form-label">Тип дома</label>
            <div class="col-sm-5">
                <select class="form-control" id="typeHouse" name="typeHouse" v-model="selectedHouseId">
                    <option v-for="house in houses" v-bind:value="house.id">{{ house.type }}</option>
                </select>
            </div>
            <div class="col-sm-5">
                <span>Выберите тип дома</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="floor" class="col-sm-2 col-form-label">Этаж</label>
            <div class="col-sm-5">
                <select class="form-control" id="floor" name="floor">
                    <option v-for="n in maxQuantityFloor">{{n}}</option>
                </select>
            </div>
            <div class="col-sm-5">
                <span>Максимальное кол-во этажей зависит от типа дома</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="typeApartment" class="col-sm-2 col-form-label">Тип квартиры</label>
            <div class="col-sm-5">
                <select class="form-control" id="typeApartment" name="typeApartment" v-model="selectedType">
                    <option v-for="(apartmentTypeValue, apartmentTypeInt) in  types"
                            v-bind:value="apartmentTypeInt">{{ apartmentTypeValue }}
                    </option>
                </select>
            </div>
            <div class="col-sm-5">
                <span>Информационный текст</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="quantityRoom" class="col-sm-2 col-form-label">Количество комнат</label>
            <div class="col-sm-5">
                <select class="form-control" id="quantityRoom" name="quantityRoom" v-model="selectedRoom"
                        :disabled="isPenthouse">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="col-sm-5">
                <span v-if="isPenthouse">У пентхауса комнаты не выбираются</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="area">Общая площадь</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="area" placeholder="0.00" name="area" v-model="area">
            </div>
            <div class="col-sm-5">
                <span>в кв. метрах</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Цена за квадратный метр</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="0.00" name="costMeter" id="costMeter"
                       v-model="costMeter">
            </div>
            <div class="col-sm-5">
                <span>Информационный текст</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="totalCost">Цена общая</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="0.00" name="totalCost" id="totalCost" v-model="totalCost">
            </div>
            <div class="col-sm-5">
                <span>Предположительно: {{estimatedTotalCost}}</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="titleApartment">Заголовок</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Однокомнатная  0.00 м2"
                       name="titleApartment"
                       v-model="titleApartment"
                       id="titleApartment">
            </div>
            <div class="col-sm-5">
                <span>состоящий из слова с кол-вом комнат + площадь через пробел</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="apartmentStatus" class="col-sm-2 col-form-label">Статус квартиры</label>
            <div class="col-sm-5">
                <select class="form-control" id="apartmentStatus" name="apartmentStatus" v-model="apartmentStatus">
                    <option v-for="(apartmentStatusValue, apartmentStatusKey) in statuses"
                            v-bind:value="apartmentStatusKey">{{ apartmentStatusValue }}
                    </option>
                </select>
            </div>
            <div class="col-sm-5">
                <span>Информационный текст</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Показывать в preview</label>
            <div class="col-sm-5">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" name="showInPreview" id="showInPreview" v-model="showInPreview">
                    <label class="custom-control-label" for="showInPreview"></label>
                </div>
            </div>
            <div class="col-sm-5">
                <span>Показывать информацию в</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Загрузить размещение квартиры на схеме квартала</label>
            <div class="col-sm-5">
                <input type="file" name="placingApartmentOnQuarterMap">
            </div>
            <div class="col-sm-5">
                <span>Информационный текст</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Загрузить размещение квартиры на схеме этажа</label>
            <div class="col-sm-5">
                <input type="file" name="placingApartmentOnFloorPlan">
            </div>
            <div class="col-sm-5">
                <span>Информационный текст</span>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Pdf</label>
            <div class="col-sm-5">
                <a v-bind:href="getPublicPathToPdf()" target="_blank">{{pathToPdf}}</a>
            </div>
            <div class="col-sm-5">
                <span>Pdf формируется при сохранении</span>
            </div>
        </div>
    </div>
</template>

<script>
    import {House} from "../../../../../api/House";
    import {Apartment} from "../../../../../api/Apartment";
    import {PathGenerator} from "../../../../../api/PathGenerator";

    export default {
        name: "mainInfo",
        props: {
            apartmentId: {
                type: Number
            },
            /** TODO вынести в метод */
            statuses: {
                type: Object
            },
            types: {
                type: Object
            },
        },
        data: () => ({
            selectedHouseId: '',
            houses: [],
            maxQuantityFloor: 1,
            selectedType: 'roomed',
            isPenthouse: false,
            costMeter: 0.00,
            area: 0.00,
            estimatedTotalCost: 0.00,
            totalCost: 0.00,
            selectedRoom: 1,
            titleApartment: '',
            pathToPdf: '',
            apartmentStatus: 1,
            listRoomString: {
                0: 'Пентхаус',
                1: 'Однокомнатная',
                2: 'Двухкомнатная',
                3: 'Трехкомнатная',
                4: 'Четырёхкомнатная',
            },
            notSelectedSimilarApartments: [],
            selectedSimilarApartments: [],
            selectApartmentLayoutTypeId: 1,
            similarApartments: {},
            showInPreview: false,
            showTabsClass: {
                isActiveMainInfo: true,
                isActiveSimilarApartments: false,
                isActiveApartmentLayouts: false
            },
            apartmentLayouts: []
        }),
        created() {
            House.getAllHouses(result => { //mainInfo
                this.houses = result.data;
            });
            Apartment.getApartments({}, result => {
                this.notSelectedSimilarApartments = result.data;
            });
            Apartment.getDataApartment(this.apartmentId, result => {
                this.apartmentData = result;
                this.selectedHouseId = this.apartmentData.selectedHouseId;
                this.selectedType = this.apartmentData.selectedType;
                this.selectedRoom = this.apartmentData.selectedRoom;
                this.area = this.apartmentData.area;
                this.costMeter = this.apartmentData.costMeter;
                this.titleApartment = this.apartmentData.title;
                this.apartmentStatus = this.apartmentData.apartmentStatus;
                this.showInPreview = this.apartmentData.showInPreview;
                this.totalCost = this.apartmentData.totalCost;
                this.pathToPdf = this.apartmentData.pathToPdf;
            });
        },
        watch: {
            selectedHouseId(value) {
                console.log(value);
                let house = this.houses[value];
                this.maxQuantityFloor = house.quantityFloor;
            },
            selectedType(value) {
                if (value === 'penthouse') {
                    this.selectedRoom = 0;
                } else {
                    this.selectedRoom = 1;
                }
                this.isPenthouse = (value === 'penthouse');
            },
            costMeter(value) {
                this.estimatedTotalCost = value * this.area;
            },
            selectedRoom() {
                this.createTitle()
            },
            area() {
                this.createTitle()
            }
        },
        methods: {
            getPathSaveApartment() {
                return PathGenerator.getPathSaveApartment()
            },
            createTitle() {
                let listRoomString = this.listRoomString[this.selectedRoom];
                this.titleApartment = `${listRoomString} ${this.area} м2`;
            },
            getPublicPathToPdf()
            {
                return `/files/pdf/${this.pathToPdf}`;
            }
        }
    }
</script>

<style scoped>

</style>