<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>Похожие квартиры</p>
                <div class="form-check" v-for="selectedSimilarApartment in selectedSimilarApartments">
                    <input type="hidden" name="selectedSimilarApartments[]"
                           v-model="selectedSimilarApartment.id">
                    <label class="form-check-label">{{selectedSimilarApartment.title}}</label>
                    <a href="#" class="btn btn-info"
                       v-on:click="delSimilarApartment(selectedSimilarApartment)">-</a>
                </div>
            </div>
            <div class="col-sm-6">
                <p>
                    Незакреплённые квартиры
                </p>
                <ul>
                    <li v-for="notSelectedSimilarApartment in notSelectedSimilarApartments">
                        {{notSelectedSimilarApartment.title}}
                        <button type="button" class="btn btn-info"
                                v-on:click="addSimilarApartment(notSelectedSimilarApartment)">+
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import {SimilarApartment} from "../../../../../api/SimilarApartment";

    export default {
        name: "similarApartments",
        props: {
            apartmentId: {
                type: Number
            }
        },
        data: () => ({
            notSelectedSimilarApartments: [],
            selectedSimilarApartments: [],
        }),
        created() {
            SimilarApartment.getSimilarApartments(this.apartmentId, (result) => {
                this.selectedSimilarApartments = result;
            });
            SimilarApartment.getNotSimilarApartments(this.apartmentId, (result) => {
                this.notSelectedSimilarApartments = result;
            })
        },
        methods: {
            addSimilarApartment(apartment) {
                this.notSelectedSimilarApartments.splice(this.notSelectedSimilarApartments.indexOf(apartment), 1);
                this.selectedSimilarApartments.push(apartment);
            },
            delSimilarApartment(apartment) {
                this.selectedSimilarApartments.splice(this.selectedSimilarApartments.indexOf(apartment), 1);
                this.notSelectedSimilarApartments.push(apartment);
            },
        }
    }
</script>

<style scoped>

</style>