{% extends 'base.html.twig' %}

{% block title %}Квартира / Гринвуд{% endblock %}

{% block body %}
    <main class="main">
        <article class="common-page flat-page">
            {% if(apartment == null) %}
                <div>Квартира не найдена</div>
            {% else %}
                <header class="flat-page__header common-page__header container">
                    <h1 class="common-page__title common-title">{{ apartment.title }}</h1>
                </header>
                <div class="common-page__action-panel page-action-panel">
                    <div class="page-action-panel__container container">
                        <div class="page-action-panel__left-column">
                            <div class="breadcrumbs">
                              <ul class="breadcrumbs__list">
                                <li class="breadcrumbs__item">
                                  <a class="breadcrumbs__link" href="https://greenwoodclub.ru/">
                                    <svg class="breadcrumbs__link-icon" width="16" height="16">
                                      <use xlink:href="{{ asset('build/images/symbols.svg#home')}}"></use>
                                    </svg>
                                    <span class="breadcrumbs__link-text visually-hidden">Главная</span>
                                  </a>
                                </li>
                                <li class="breadcrumbs__item">
                                  <a class="breadcrumbs__link" href="{{ path('filter') }}">
                                    <svg class="breadcrumbs__link-icon" width="16" height="16">
                                      <use xlink:href="{{ asset('build/images/symbols.svg#left-arrow')}}"></use>
                                    </svg>
                                    <span class="breadcrumbs__link-text">Назад</span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <!-- <a class="back-link button no-print" href="{{ path('filter') }}">
                                <svg class="back-link__icon button__icon button__icon--left" width="16" height="16">
                                    <use xlink:href="{{ asset('build/images/symbols.svg#left-arrow') }}"></use>
                                </svg>
                                Назад
                            </a> -->
                        </div>
                        <div class="page-action-panel__right-column flat-page__nav-wrapper">
                            <div class="flat-page__nav flat-page-navigation" data-target="flat-page-navigation">
                                <ul class="flat-page-navigation__list" role="tablist">
                                    <li class="flat-page-navigation__item" data-target="flat-page-nav-item">
                                        <a href="#flat-plan" class="flat-page-navigation__link" role="tab" data-action="toggle-flat-page-content">Планировка</a>
                                    </li>
                                    <li class="flat-page-navigation__item" data-target="flat-page-nav-item">
                                        <a href="#flat-floor" class="flat-page-navigation__link" role="tab" data-action="toggle-flat-page-content">На плане этажа</a>
                                    </li>
                                    <!-- <li class="flat-page-navigation__item" data-target="flat-page-nav-item">
                                        <a href="#flat-genplan" class="flat-page-navigation__link" role="tab" data-action="toggle-flat-page-content">На плане квартала</a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="common-page__body flat container">
                    <div class="flat__grid">
                        <div class="flat__main-column">


                            <section class="flat-plan-section flat-page-nav-content" id="flat-plan"
                                     data-target="flat-page-nav-content">
                                <h2 class="visually-hidden">Планировка</h2>
                                <div class="common-tabs">
                                    <ul class="common-tabs__menu">
                                        <li class="common-tabs__item">
                                            <a href="#tab-1-1" class="common-tabs__link">План квартиры</a>
                                        </li>
                                        <!-- <li class="common-tabs__item">
                                            <a href="#tab-1-2" class="common-tabs__link">С мебелью</a>
                                        </li> -->
                                    </ul>
                                    <div class="common-tabs__pane" id="tab-1-1">
                                        <section>
                                            <h3 class="visually-hidden">План квартиры</h3>
                                            <div class="flat-plans-slider js-flat-plans-slider">
                                                <div class="flat-plans-slider__item flat-plans-slide">
                                                    <a class="flat-plans-slide__wraplink"
                                                       href="{{ apartment.layouts.mainLayout }}"
                                                       data-target="flat-plan-popup-link">
                                                        <div class="flat-plans-slide__picture">
                                                            <img src="{{ apartment.layouts.mainLayout }}" alt="">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <!-- <div class="common-tabs__pane" id="tab-1-2">
                                        <h3 class="visually-hidden">С мебелью</h3>
                                        <div class="common-flat-picture">
                                            <div class="common-flat-picture">
                                            <a class="common-flat-picture__wraplink" href="{{ apartment.layouts.furnitureLayout }}" data-target="flat-plan-popup-link">
                                                <img class="common-flat-picture__image" src="{{ apartment.layouts.furnitureLayout }}" alt="Планировака квартиры с мебелью">
                                            </a>
                                        </div>
                                        </div>
                                    </div> -->
                                    <div class="common-tabs__pane" id="tab-1-3">
                                        <h3 class="visually-hidden">Варианты отделки</h3>
                                    </div>
                                </div>
                            </section>

                            <section class="flat-territory-section flat-page-nav-content" id="flat-floor" data-target="flat-page-nav-content">
                                <h2 class="visually-hidden">На плане этажа</h2>
                                <div class="common-flat-picture">
                                    <a class="common-flat-picture__wraplink" href="{{ apartment.placingApartmentOnFloorPlanFile }}" data-target="flat-plan-popup-link">
                                        <img class="common-flat-picture__image" src="{{ apartment.placingApartmentOnFloorPlanFile }}" alt="Квартира на плане этажа">
                                    </a>
                                </div>
                            </section>

                            <!-- <section class="flat-territory-section flat-page-nav-content" id="flat-genplan" data-target="flat-page-nav-content">
                                <h2 class="visually-hidden">На плане квартала</h2>
                                <div class="common-flat-picture">
                                    <a class="common-flat-picture__wraplink" href="{{ apartment.placingApartmentOnQuarterMapFile }}" data-target="flat-plan-popup-link">
                                        <img class="common-flat-picture__image" src="{{ apartment.placingApartmentOnQuarterMapFile }}" alt="Квартира на плане квартала">
                                    </a>
                                </div>
                            </section> -->
                        </div>
                        <div class="flat__aside-column">
                            <div class="flat-plan-section__detail flat-detail">
                                <div class="flat-detail__info flat-info">
                                    <!-- <div class="flat-info__row">
                                      <form class="flat-detail__form request-price-form no-print" action="" method="POST">
                                        <p class="request-price-form__title">Узнать стоимость квартиры</p>
                                        <label class="request-price-form__field field">
                                          <span class="field__label visually-hidden">Имя</span>
                                          <div class="field__control">
                                            <input class="field__input input" type="text" name="plan_name" placeholder="Ваше имя">
                                          </div>
                                        </label>
                                        <label class="request-price-form__field field">
                                          <span class="field__label visually-hidden">Телефон</span>
                                          <div class="field__control">
                                            <input class="field__input input" type="tel" name="plan_phone" placeholder="+7 (___) ___-__-__" required>
                                          </div>
                                        </label>
                                        <button class="request-price-form__submit button" type="submit">Запросить стоимость</button>
                                        <p class="request-price-form__agree text-agree">Нажимая «Отправить», вы соглашаетесь с <a href="">Условиями</a> и <a href="">Правилами</a> компании</p>
                                      </form>
                                    </div> -->
                                    <div class="flat-info__row">
                                        <div class="flat-info__column">
                                            <div class="flat-info__item">
                                                <span class="flat-info__caption">Стоимость</span>
                                                <button class="flat-detail__button button button--outline" data-src="#popup-request-cost" data-fancybox>Запросить стоимость</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flat-info__row">
                                        <div class="flat-info__column">
                                            <a class="flat-detail__button button button--outline" href="https://greenwoodclub.ru/mortgage/">Эта квартира в ипотеку</a>
                                        </div>
                                    </div>
                                    <!-- <div class="flat-info__row">
                                        <a class="flat-detail__button-mortgage button button--outline" href="">Рассчитать
                                            ипотеку</a>
                                    </div> -->
                                    <div class="flat-info__row">
                                        <div class="flat-info__column">
                                            <div class="flat-info__item">
                                                <span class="flat-info__caption">Площадь</span>
                                                <b class="flat-info__value">{{ apartment.area }} м²</b>
                                            </div>
                                        </div>
                                        <div class="flat-info__column">
                                            <div class="flat-info__item">
                                                <span class="flat-info__caption">Кол-во комнат</span>
                                                <b class="flat-info__value">{{ apartment.rooms }}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flat-info__row">
                                        <div class="flat-info__column">
                                            <div class="flat-info__item">
                                                <span class="flat-info__caption">Этаж</span>
                                                <b class="flat-info__value">{{ apartment.floor }}</b>
                                            </div>
                                        </div>
                                        <div class="flat-info__column">
                                            <div class="flat-info__item">
                                                <span class="flat-info__caption">Тип дома</span>
                                                <b class="flat-info__value">{{ apartment.house.type }}</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flat-detail__disclamer">
                                    <p>
                                        <small>Указанный размер площади может незначительно отличаться.</small>
                                    </p>
                                </div>
                                <!-- <div class="flat-detail__actions no-print">
                                    <a class="flat-detail__button button button--outline" href="" target="_blank">Распечать планировку</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                {% if apartment.similarApartments %}
                    <section class="section-similar-plans section-similar-plans--white-fill common-section no-print">
                        <div class="section-similar-plans__inner container">
                            <h2 class="section-similar-plans__title common-title">Похожие варианты квартир</h2>
                            <p class="section-similar-plans__intro">Клубный квартир «Гринвуд» – это возможность выбора!
                                Поэтому мы подобрали несколько квартир, похожих на выбранную вами.</p>
                            <div class="section-similar-plans__slider common-plans-slider js-common-plans-slider">
                                {% for similarApartment in apartment.similarApartments %}
                                    <div class="common-plans-slider__item">
                                        <a class="common-plans-slider__wraplink"
                                           href="{{ path('apartment.show', {'id' : similarApartment.id}) }}">
                                            <div class="common-plans-slider__picture">
                                                <img data-flickity-lazyload="{{ similarApartment.layouts.mainLayout }}"
                                                     alt="{{ similarApartment.title }}">
                                            </div>
                                            <ul class="common-plans-slider__features common-features-flat">
                                                <li class="common-features-flat__item">
                                                    <span class="common-features-flat__label">Тип дома</span>
                                                    <b class="common-features-flat__value">{{ similarApartment.house.type }}</b>
                                                </li>
                                                <li class="common-features-flat__item">
                                                    <span class="common-features-flat__label">Комнат</span>
                                                    <b class="common-features-flat__value">{{ similarApartment.rooms }}</b>
                                                </li>
                                                <li class="common-features-flat__item">
                                                    <span class="common-features-flat__label">Площадь</span>
                                                    <b class="common-features-flat__value">{{ similarApartment.area }}</b>
                                                </li>
                                            </ul>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                {% endif %}
            {% endif %}
        </article>
    </main>
{% include 'blocks/popup_request_cost.html.twig' with {'apartment' : apartment} %}
{% endblock %}
