.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  padding: 12px 20px;
  appearance: none;
  font-weight: 700;
  font-size: rem(14);
  line-height: rem(25);
  font-family: $primary-font;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $accent-color;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0 0 33px rgba(48, 100, 60, 0.5);
  box-sizing: border-box;
  border-radius: $border-radius;
  outline: none;
  user-select: none;
  transition-property: background, color, border-color;
  transition-duration: ($duration * 2);
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: lighten($accent-color-2, 6%);
  }

  &:active {
    color: #ffffff;
    background-color: $accent-color;
  }

  &--fluid {
    width: 100%;
  }

  &--outline {
    color: $base-color;
    border-color: currentColor;
    background-color: transparent;
    box-shadow: none;

    &:hover,
    &:focus {
      color: #ffffff;
      background-color: lighten($accent-color-2, 6%);
    }
  }
}

.button__icon {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  fill: currentColor;

  &--left {
    margin-right: 6px;
  }

  &--right {
    margin-left: 6px;
  }
}
