.construction-cards {
  margin-top: 40px;
}

.construction-cards__list {
  @include clear-list();

  display: flex;
  flex-wrap: wrap;
}

.construction-cards__item {
  width: 100%;
  margin-bottom: 10px;

  @include mq-range(568px, 889px) {
    @include calc-column-width(2, 10px);
  }

  @include mq-range(890px, 1279px) {
    @include calc-column-width(3, 10px);
  }

  @include mq-range(1280px, 1439px) {
    @include calc-column-width(3, 10px);
  }

  @include mq-min(1440px) {
    @include calc-column-width(4, 10px);
  }
}
