.construction-card {
  display: flex;
  flex-direction: column;
}

.construction-card__wraplink {
  position: relative;
  display: inherit;
  flex-grow: 1;
  padding: 60px 30px;
  color: #ffffff;
  overflow: hidden;
  transition: $duration;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-color: $gray-25;
    opacity: 0.6;
    transition: $duration * 3;
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.8;
    }
  }

  @include mq-min(1280px) {
    padding: vh(70) vh(30);
  }
}

.construction-card__picture {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: $duration * 6;
  transform: scale(1.2);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .construction-card__wraplink:hover &,
  .construction-card__wraplink:focus & {
    transform: scale(1);
    transition: opacity $duration * 8, transform $duration * 8;
  }
}

.construction-card__body {
  position: relative;
  z-index: 2;
}

.construction-card__title {
  margin: 0;
  font-weight: 700;
  font-size: rem(24);
  line-height: 1.15;
  text-transform: uppercase;

  @include mq-min(1280px) {
    font-size: vh(24);
  }
}

.construction-card__month {
  display: block;
  font-weight: 500;
  font-size: rem(50);

  @include mq-min(1280px) {
    font-size: vh(50);
  }
}

.construction-card__year {
  display: block;
  color: $accent-color;
}
