.contacts-info {
  display: table;
}

.contacts-info__item {
  display: table-row;
  font-size: rem(18);

  @include mq-min(1280px) {
    font-size: vh(18);
  }
}

.contacts-info__label {
  display: table-cell;
  margin: 0;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: rem(15);
  text-transform: uppercase;
  white-space: nowrap;
  color: $brown-color;

  @include mq-min(768px) {
    padding-right: 50px;
  }

  @include mq-min(1280px) {
    padding-top: vh(15);
    padding-bottom: vh(15);
    font-size: vh(15);
  }
}

.contacts-info__value {
  @include clear-list();

  display: table-cell;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
}

.contacts-info__phone {
  font-size: rem(30);
  color: $base-color;

  @include mq-min(1280px) {
    padding-top: vh(15);
    padding-bottom: vh(15);
    font-size: vh(30);
  }
}

.contacts-info__socials {
  align-items: center;
}

.contacts-info__socials-item {
}

.contacts-info__socials-icon {
  width: 24px;
  height: 24px;
}
