.flat-info {
  background-color: #ffffff;
}

.flat-info__row {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $gray-239;

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.flat-info__column {
  flex: 1 0 0;
  max-width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;

  &:last-child {
    padding-right: 0;
  }

  .flat-info__row:first-child & {
    padding-top: 0;
  }

  .flat-info__row:last-child & {
    padding-bottom: 0;
  }
}

.flat-info__item {
  overflow: hidden;
}

.flat-info__caption {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: $muted-color;

  @include mq-min(768px) {
    font-size: 14px;
  }
}

.flat-info__value {
  display: block;
  font-size: 22px;
  line-height: 1;
  font-weight: 700;

  @include mq-min(768px) {
    font-size: 18px;
  }
}

// .flat-detail__button-mortgage {
//   min-width: auto;
//   margin-top: 2px;
//   margin-bottom: 2px;
//   padding: 6px 15px;
//   font-weight: 400;
//   font-size: 17px;
//   text-transform: none;
//   border-radius: $border-radius * 2;
// }
