.flat-card {
  display: flex;
  flex-direction: column;

  &--is-favorite {
  }
}

.flat-card__wraplink {
  position: relative;
  flex-grow: 1;
  display: block;
  padding: 30px;
  padding-top: 40px;
  color: $base-color;
  background-color: #ffffff;
  border: 1px solid $gray-239;
  border-radius: $border-radius;
  transition: border-color $duration;

  &:hover,
  &:focus {
    color: $base-color;
    border-color: $secondary-color-2;
  }

  .flats-cards--display-card & {
    display: flex;
    flex-direction: column;
  }

  @include mq-min(568px) {
    .flats-cards--display-list & {
      display: flex;
      align-items: center;
      padding: 8px 15px;
    }
  }
}

.flat-card__content {
  position: relative;
  z-index: 1;
  flex-grow: 1;

  .flats-cards--display-card & {
    display: flex;
    flex-direction: column;
  }

  @include mq-min(568px) {
    .flats-cards--display-list & {
      display: flex;
      align-items: center;
    }
  }
}

.flat-card__info-block {
  padding-bottom: 15px;

  .flats-cards--display-card & {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
  }

  @include mq-min(568px) {
    .flats-cards--display-list & {
      flex-grow: 1;
      padding-bottom: 0;
      padding-right: 15px;
    }
  }
}

.flat-card__price-block {
  padding-top: 15px;
  border-top: 1px solid;
  border-color: $gray-239;
  transition: border-color $duration;

  .flat-card__wraplink:hover &,
  .flat-card__wraplink:focus & {
    border-color: $secondary-color-2;
  }

  .flats-cards--display-card & {
    margin-top: auto;
  }

  @include mq-min(568px) {
    .flats-cards--display-list & {
      min-width: 135px;
      padding-top: 0;
      padding-left: 15px;
      border-top: none;
      border-left-width: 1px;
      border-left-style: solid;
    }
  }

  @include mq-min(1024px) {
    .flats-cards--display-list & {
      min-width: 154px;
    }
  }
}

.flat-card__picture-holder {
  flex-shrink: 0;
  margin-bottom: 20px;
  box-sizing: border-box;

  @include mq-min(568px) {
    .flats-cards--display-list & {
      width: 72px;
      height: 72px;
      margin-right: 16px;
      margin-bottom: 0;
      padding: 8px;
    }
  }

  @include mq-min(1024px) {
    .flats-cards--display-list & {
      width: 100px;
      height: 100px;
      margin-right: 24px;
      padding: 16px;
    }
  }
}

.flat-card__picture {
  @include make-fit-object(1, 1, contain);
}

.flat-card__type-of-building {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: $muted-color;
}

.flat-card__title {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.15;

  .flats-cards--display-card & {
    // grid-column-start: 1;
    // grid-column-end: 3;
    // margin-bottom: 0;
    font-size: 18px;
  }

  @include mq-min(768px) {
    .flats-cards--display-list & {
      font-size: 18px;
    }
  }

  @include mq-min(1024px) {
    .flats-cards--display-list & {
      font-size: 24px;
    }
  }
}

.flat-card__floor {
  display: block;
  font-size: 14px;
  color: $muted-color;

  .flats-cards--display-card & {
    // margin-bottom: 4px;
    // grid-column-end: -1;
    // grid-row-start: 1;
    // text-align: right;
  }
}

.flat-card__floor-to-look {
  position: relative;
  display: block;
  padding: 0;
  min-width: auto;
  font-size: inherit;
  text-transform: none;
  color: inherit;
  background-color: transparent;
  box-shadow: none;

  &::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: transparent;

    &::before {
      background-image: linear-gradient(to right, rgba($muted-color, 1) 2px, transparent 0);
    }
  }

  .flats-cards--display-card & {
  }

  .flats-cards--display-list & {
    display: inline-block;
    margin-left: 4px;
    vertical-align: baseline;
  }
}

.flat-card__price-for-flat {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.15;

  .flats-cards--display-card & {
    font-size: 18px;
  }

  @include mq-min(768px) {
    .flats-cards--display-list & {
      font-size: 18px;
    }
  }

  @include mq-min(1024px) {
    .flats-cards--display-list & {
      font-size: 24px;
    }
  }
}

.flat-card__price-for-square-meter {
  display: block;
  font-size: 14px;
  color: $muted-color;
}

.flat-card__features {
  flex-grow: 1;
}

.flat-card__features-item {
  .flats-cards--display-list & {
    margin-right: 10%;

    &:last-child {
      margin-right: 0;
    }
  }
}

.flat-card__stick {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
  display: flex;

  .flats-cards--display-list & {
    top: 10px;
    left: 10px;
  }
}

.flat-card__icon {
  display: block;
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.flat-card__reserved {
  margin-right: 5px;
  color: $gray-189;
  cursor: pointer;
  transition: $duration;

  &:hover {
    color: $gray-169;
  }
}

.flat-card__reserved-icon {
  display: block;
}

// .flat-card__add-to-favorite {
//   display: inline-block;
//   padding: 5px;
//   vertical-align: middle;
//   color: $gray-189;
//   background: none;
//   border: none;
//   outline: none;
//   cursor: pointer;
//   transition: color $duration;

//   &:hover {
//     color: $accent-color;
//   }

//   &:focus {
//     color: $secondary-color-2;
//   }

//   .flat-card--is-favorite & {
//     color: $accent-color;
//   }
// }

// .flat-card__add-to-favorite-icon {
//   @media (pointer: coarse) {
//     width: 20px;
//     height: 20px;
//   }
// }
