.genplan {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: $height-header-mobile;
  overflow: hidden;
  box-sizing: border-box;

  .homepage & {
    height: calc(100vh - #{$height-header-mobile});
    padding-top: 0;
    padding-bottom: 0;
  }

  image {
    pointer-events: none;
  }

  [id^="layer-group-"] {
    pointer-events: none;

    image {
      opacity: 0.7;
      pointer-events: none;
    }

    [id^="house-"] {
      fill: #ffffff;
      fill-opacity: 0.2;
      transition: fill $duration;
      cursor: pointer;
    }

    [id^="pin-"] {
      opacity: 0;
      pointer-events: none;
    }

    &.finished {
      pointer-events: auto;

      image {
        opacity: 1;
      }

      [id^="house-"] {
        fill: transparent;
        fill-opacity: 0.5;

        &:hover {
          fill: #74fe0f;
        }
      }

      [id^="pin-"] {
        opacity: 1;
        pointer-events: none;
      }
    }
  }

  @include mq-min(1024px) {
    padding-top: $height-header-desktop;

    .homepage & {
      height: calc(100vh - #{$height-header-desktop--sticky});
    }
  }
}

.genplan__title {
  position: absolute;
  top: 50px;
  color: #ffffff;
}

.genplan__scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
  overflow-scrolling: touch;

  @include mq-min(1200px) {
    overflow-x: hidden;
  }
}

.genplan__compass-wrapper {
  display: flex;
  justify-content: flex-end;
}

.genplan__svg {
  display: block;
  width: auto;
  min-width: 100%;
  height: 100%;
}

.genplan__compass {
  position: absolute;
  bottom: 25px;
  width: 80px;
  height: 80px;
  margin-left: auto;
  padding: 15px;
  box-sizing: border-box;
  background: #ffffff url("images/compass.svg") no-repeat center;
  background-origin: content-box;
  background-size: contain;
  border-radius: 50%;

  @include mq-min(1280px) {
    bottom: 90px;
    width: vh(80);
    height: vh(80);
    padding: vh(15);
  }
}

.genplan__tooltip-container {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  height: 100%;
  pointer-events: none;
}

.genplan__tooltip {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 20;
  pointer-events: auto;

  @include mq-min(768px) {
    left: auto;
    right: auto;
    bottom: auto;
    min-height: auto;
  }
}

.genplan__tip {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #ffffff;
  background-color: rgba($black-color, 0.5);
  transition: $duration * 3;

  &::before {
    content: "";
    width: 120px;
    height: 120px;
    margin-left: -25px;
    margin-bottom: 20px;
    background: url("images/swipe-genplan.svg") no-repeat center / contain;
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  @media (orientation: landscape) and (max-height: 374px) {
    &::before {
      width: 64px;
      height: 64px;
    }
  }

  @media (pointer: coarse) {
    display: flex;
  }
}

.genplan__tip-text {
  max-width: 200px;
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.25;
  text-align: center;

  @media (orientation: landscape) and (max-height: 374px) {
    max-width: 300px;
  }
}
