.input {
  width: 100%;
  max-height: 150px;
  padding: 15.5px 15px;
  font: inherit;
  font-weight: 500;
  font-size: rem(17);
  line-height: rem(25);
  resize: vertical;
  outline: none;
  border: 1px solid $secondary-color-2;
  border-radius: $border-radius;
  background-color: #ffffff;
  box-shadow: none;
  box-sizing: border-box;
  transition: $duration * 2;

  &:hover,
  &:focus {
    border-color: darken($secondary-color-2, 10%);
  }

  &::placeholder {
    color: $base-color;
    opacity: 0.4;
  }

  &::-ms-expand {
    display: none;
  }

  &[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
      margin: 0;
    }
  }

  &--fill-white {
    background-color: #ffffff;
  }

  &.wpcf7-not-valid {
    border-color: $danger-color;
  }

  @include mq-minh($vh-height-bp) {
    padding: vh(15.5) vh(15);
    // font-size: vh(17);
  }
}
