.main-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 25;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: $duration * 2;

  .is-main-header-sticky & {
    background-color: #ffffff;
    box-shadow: 0 0px 15px rgba(#000000, 0.25);
  }

  @include mq-max(1023px) {
    .is-out-cover-opened.is-main-header-sticky & {
      box-shadow: none;
    }
  }

  @include mq-min(1024px) {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;

    .homepage & {
      background-color: transparent;
    }

    .homepage.is-main-header-sticky & {
      background-color: #ffffff;
    }

    .is-main-header-sticky & {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.main-header__inner {
  display: flex;
  align-items: center;
}

.main-header__logo {
  max-width: 72px;
  margin-right: auto;
  transition: $duration * 2;

  .is-main-header-sticky & {
    transform: scale(0.8);
  }

  @include mq-min(568px) {
    max-width: 80px;
  }
}

.main-header__toggle {
  order: 1;
  margin-left: 20px;

  @include mq-min(1024px) {
    display: none;
  }
}

.main-header__action-button {
  margin-left: auto;
  transition: $duration * 2;

  .is-main-header-sticky & {
    transform: scale(0.9) translateX(40px);
  }

  @include mq-max(1023px) {
    display: none;
  }
}

.main-header__nav {
  margin-left: vh(10);
  transform-origin: 100%;
  transition: $duration * 2;

  .is-main-header-sticky & {
    transform: scale(0.9);
  }

  @include mq-max(1023px) {
    display: none;
  }
}

.main-header__contacts {
  margin: 0;
  margin-left: 20px;

  @include mq-min(1024px) {
    // margin-top: vh(-7); // высота нижнего паддинга у ссылки
    margin-left: vh(30);
    transition: $duration * 2;

    .is-main-header-sticky & {
      transform: scale(0.8);
    }
  }
}

.main-header__phone {
  display: block;
  transform-origin: 0;
  font-weight: 700;
  font-size: rem(15);
  line-height: 1.15;
  text-decoration: none;
  color: $base-color;

  .is-out-cover-opened & {
    visibility: hidden;
    opacity: 0;
  }

  span {
    font-size: rem(24);
    vertical-align: sub;
    color: $accent-color-2;
  }

  &:hover,
  &:focus {
    color: $accent-color-2;
  }

  @include mq-min(375px) {
    font-size: rem(17);

    span {
      font-size: rem(32);
    }
  }

  // @include mq-min(1024px) {
  //   // font-size: vh(18);

  //   span {
  //     // font-size: vh(36);
  //   }
  // }
}
