.mobile-nav {

}

.mobile-nav__list {
  @include clear-list();

  a {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: rem(32);
    text-transform: uppercase;
    text-align: center;
  }
}
