.select {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    z-index: 2;
    width: 0;
    height: 0;
    width: 4px;
    height: 4px;
    border: 2px solid #003d58;
    border-top: none;
    border-left: none;
    // border-top: 7px solid $secondary-color-2;
    transform: rotate(45deg);
    margin: auto;
    transition: $duration;
    pointer-events: none;
  }

  &:focus-within {
    &::before {
      border-right-color: darken($secondary-color-2, 10%);
      border-bottom-color: darken($secondary-color-2, 10%);
    }
  }

  select {
    width: 100%;
    max-height: 150px;
    padding: 15.5px 15px;
    appearance: none;
    font: inherit;
    font-weight: 500;
    font-size: rem(17);
    line-height: rem(25);
    text-align: left;
    resize: vertical;
    outline: none;
    border: 1px solid $secondary-color-2;
    border-radius: $border-radius;
    background-color: #ffffff;
    box-shadow: none;
    box-sizing: border-box;
    transition: $duration * 2;

    &::-ms-expand {
      display: none;
    }

    &:hover,
    &:focus {
      border-color: darken($secondary-color-2, 10%);
    }
  }

  @include mq-minh($vh-height-bp) {
    select {
      padding: vh(15.5) vh(15);
      font-size: vh(17);
    }
  }
}
