.socials {
  display: flex;
  text-align: center;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  margin-right: 1.2em;
  border: none;
  transition: $duration * 2;
  color: $accent-color;

  &:hover,
  &:focus {
    color: $base-color;
  }

  &:last-child {
    margin-right: 0;
  }
}

.socials__icon {
  display: block;
  vertical-align: middle;
  fill: currentColor;
}
