{% extends 'admin/admin_base.html.twig' %}

{% block title %}Добавление новой квартиры{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1 ">Форма добавления квартиры</span>
    </nav>
    <br>
    <div id="createApartmentComponent">
        <apartment-edit-component :types="{{ apartmentsType|json_encode }}"
                                    :statuses="{{ apartmentStatus|json_encode }}"
                                    :layouts="{{ apartmentLayoutType|json_encode }}"
                                    :id="{{ newId }}"
        ></apartment-edit-component>
    </div>
{% endblock %}
{% block javascripts %}
    <script>new app.ApartmentCreate()</script>
{% endblock %}