{% extends 'admin/admin_base.html.twig' %}

{% block title %}Редактирование квартиры № {{ id }}{% endblock %}

{% block body %}
    <div id="editApartmentComponent">
        <apartment-edit-component :types="{{ apartmentsType|json_encode }}"
                                  :statuses="{{ apartmentStatus|json_encode }}"
                                  :layouts="{{ apartmentLayoutType|json_encode }}"
                                  :id="{{ id }}"
        ></apartment-edit-component>
    </div>
{% endblock %}
{% block javascripts %}
    <script>new app.ApartmentEdit()</script>
{% endblock %}